<div class="profile-navigation" data-controller="profile" data-turbo-permanent>
    <div class="navigation-links" id="profile-link" data-profile-target="links" data-action="click->profile#highlight">
        <%= link_to "Profile", user_profile_path(user_id: current_user.id),
            data: { turbo_frame: "profile-pages", turbo_action: "advance" } %>
    </div>
    <div class="navigation-links" id="followers-link" data-profile-target="links" data-action="click->profile#highlight">
        <%= link_to "Followers", user_followers_path(user_id: current_user.id),
            data: { turbo_frame: "profile-pages", turbo_action: "advance" } %>
    </div>
    <div class="navigation-links" id="followings-link" data-profile-target="links" data-action="click->profile#highlight">
        <%= link_to "Following", user_followings_path(user_id: current_user.id),
            data: { turbo_frame: "profile-pages", turbo_action: "advance" } %>
    </div>
</div>