<div id="<%= dom_id(comment) %>" class="comment">
    <%= comment.user.username %>: <%= comment.body %>
    <%= turbo_frame_tag "comment_delete_#{comment.id}" do %>
        <% render "comments/delete_link", comment: comment, post: comment.post%>
    <% end %>
</div>

