<h1>User Index</h1>

<div class="users">
    <div class="container">
        <% @users.each do |user| %>
            <div class="user">
                <%= user.username %>
            <%= turbo_frame_tag "follow_#{user.id}" do %>
                <%= render "follows/links", user: user %>
            <% end %>
            </div>
            <br>
        <% end %>
    </div>
</div>

