<h1>User Index</h1>

<div class="users">
    <div class="container">
        <%= turbo_stream_from "user_index_#{current_user.id}" %>
        <% @users.each do |user| %>
            <div class="user">
                <%= user.username %>
                <%= render "follows/follow_link", user: user %>
            </div>
            <br>
        <% end %>
    </div>
</div>

