<h1>Followers</h1>

<% @followers.each do |follow| %>
    <%= follow.follower.username %>
    <%= turbo_frame_tag "follow_#{follow.follower.id}" do %>
        <%= render "follows/links", user: follow.follower %>
    <% end %>
<% end %>
