<h1>Following</h1>

<%= turbo_stream_from "following_#{current_user.id}" %>

<% @followings.each do |follow| %>
    <div id="follow_<%= follow.id %>" >
        <%= follow.following.username %>
        <%= render "follows/follow_link", user: follow.following %>
    </div>
<% end %>
