<div class="post">
    <div class="container">
        <div class="author">
            <%= post.user.username %>
        </div>
        <div class="body">
            <%= post.body %>
        </div>
    </div>
</div>
