body { 
    background-color: black;
    color: white;
}

* {
    --lighter-gray: #d4d4d4;
    --light-gray: #bebebe;
    --gray: #6c757d;
    --dark-gray: #222222;
}

a {
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--gray);
}


