body { 
    background-color: black;
    color: white;
}

* {
    --lighter-gray: #d4d4d4;
    --light-gray: #bebebe;
    --gray: #6c757d;
    --dark-gray: #222222;
    --blue: #1DA1F2;
    --dark-blue: #0a1015;
    --notification-banner: #15202b;
    --like-pink: rgb(249, 24, 128);
    --like-pink-bg: rgba(249, 24, 128, .1);
}

a {
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--gray);
}


