body {
    /* display: flex; */
    overflow: visible;
}

.container .main {
    margin-left: 600px;
    height: 99vh;
}

.container .page {
    border-left: 1px solid var(--dark-gray);
    border-right: 1px solid var(--dark-gray);
    width: 60ch;
    height: 100%;
}

.container .page .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6ch;
    border-bottom: 1px solid var(--dark-gray);
}