/* Navigation */
.profile-navigation {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-navigation .navigation-links {
    height: 100%;
    color: var(--gray);
}

.profile-navigation .navigation-links a {
    height: 100%; 
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
}

.profile-navigation .navigation-links.active {
    font-weight: bold;
    color: white;
}

.profile-navigation .navigation-links:hover {
    background-color: var(--dark-gray);
    color: inherit;
}

.profile-navigation .navigation-links.active a:hover {
    color: white;
} 